<h1>My Stuff</h1>
<h2>Favorite Stuff</h2>
<ul>
  <% @favorite_stuffs.each do |stuff| %>
    <li>
      <%= stuff.name %>
      <%= link_to "/stuffs/#{stuff.id}/unfavorite", method: :get do %>
        <div class="fav-star unfavorite" id="stuff-<%= stuff.id %>"></div>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Random Stuff</h2>
<ul>
  <% @stuffs.each do |stuff| %>
    <li>
      <%= stuff.name %>
      <%= link_to "/stuffs/#{stuff.id}/favorite", method: :get do %>
        <div class="fav-star favorite" id="stuff-<%= stuff.id %>"></div>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Add a Stuff</h2>
<%= form_for(Stuff.new) do |f| %>
  <div>name: <%= f.text_field :name %></div>
  <div>favorite?: <%= f.check_box :favorite %></div>
  <div><%= f.submit %></div>
<% end %>
