<h1>My Stuff</h1>
<ul>
  <% @stuffs.each do |stuff| %>
    <li>
      <%= stuff.name %>
      <% if stuff.favorite %>
        <div class="fav-star unfavorite"></div>
      <% else %>
        <div class="fav-star favorite"></div>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Add a Stuff</h2>
<%= form_for(Stuff.new) do |f| %>
  <div>name: <%= f.text_field :name %></div>
  <div>favorite?: <%= f.check_box :favorite %></div>
  <div><%= f.submit %></div>
<% end %>
