<h1>My Stuff</h1>
<h2>Favorite Stuff</h2>
<ul>
  <% @favorite_stuffs.each do |stuff| %>
    <li><%= stuff.name %> <a href="/stuffs/<%= stuff.id %>/unfavorite"><span class="fav-star unfavorite"></span></a></li>
  <% end %>
</ul>

<h2>Random Stuff</h2>
<ul>
  <% @stuffs.each do |stuff| %>
    <li><%= stuff.name %> <a href="/stuffs/<%= stuff.id %>/favorite"><span class="fav-star favorite"></span></a></li>
  <% end %>
</ul>

<h2>Add a Stuff</h2>
<%= form_for(Stuff.new) do |f| %>
  <div>name: <%= f.text_field :name %></div>
  <div>favorite?: <%= f.check_box :favorite %></div>
  <div><%= f.submit %></div>
<% end %>
